@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, head, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'IBM Plex Sans KR Medium', serif;
    color: black;
}

.title {
    position: absolute;
    width: 100%;
    height: 112px;
    left: 0;
    top: 0;

    /* 4dp */
    filter: drop-shadow(0px 1.85px 6.25px rgba(0, 0, 0, 0.19));;

    background-color: #00BCD4;

    display: flex;
    align-items: center;
}

.title-text {
    width: 100%;

    color: white;
    font-size: 36px;

    margin-left: 25px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    width: 90%;
    margin: 0 auto;

    overflow: hidden;
}

.intro {
    position: relative;

    text-align: center;

    padding-left: 20px;
    border-radius: 2px;

    margin: 0px auto 0;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    font-size: 30px;
}

.quote-left {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    border-radius: 5px;
    background: #00BCD4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    opacity: .2;
}

.box-list {
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin: 60px auto 0;

    width: 100%;
    max-width: 1000px;

    box-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
}

.box {
    position: relative;
    padding-top: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;

    /*width: 40px;
    height: 40px;*/

    border: 0.5px solid rgba(0, 188, 212, .5);
    box-sizing: border-box;
}

.num {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    font-weight: bold;
    color: #00BCD4;

    font-size: 42px;
}

.bottom-info {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 20px auto 0;
    width: 100%;
}

.circle-list {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.circle-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: rgba(0, 188, 212, .12);
    margin-right: 10px;
}

.circle-text {
    color: #00BCD4;
    font-size: 14px;
    flex: 1;
    text-align: center;
    margin-left: 4px;
    font-weight: 600;
}

.circle-value-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: rgba(0, 188, 212, .12);
}

.circle-value-text {
    color: #00BCD4;
    font-size: 14px;
    font-weight: 600;
}

.submit-btn {
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 20px;
}

@media (max-width: 950px) {
    .title {
        height: 60px;
    }

    .title-text {
        font-size: 24px;
        margin-left: 15px;
    }

    .container {
        justify-content: flex-start;
    }

    .intro {
        font-size: 18px;
        filter: none;
    }

    .box {
        padding-top: 20%;
    }

    .num {
        font-size: 12px;
    }

    .circle-bg {
        width: 80px;
        height: 30px;
        border-radius: 30px;
    }

    .circle-text,.circle-value-text {
        font-size: 10px;
    }

    .circle-value-bg {
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }

    .submit-btn {
        width: 80px;
        font-size: 15px;
    }

    .active {
        border-color: #00BCD4;
        color: #00BCD4;
    }
}
