.container {
    width: 80%;
    margin: 0 auto;
}

.title,.explain {
    text-align: center;
}

#permutation{
    text-align: center;
}

.btn {
    height: 50px;
    width: 50px;

    border: 1px black solid;
    border-right: 0;

    outline: none;
}

.btn:nth-last-child(1):not(.clicked) {
    border-right: 1px black solid;
}

.btn:hover {
    background-color: rgba(0,0,0,.1);
}

.clicked {
    border: 4px red solid;
}
