.view{
    width: 80%;
    margin: 0 auto;
}
.selectRank{
    height: 10%;
    width: 100%;
}
#board{
    text-align: center;
    font-size: 200%;
    height: 90%;
    width: 100%;
    border: black 1px solid;
}
#table{
    text-align: center;
    font-size: 200%;
    height: 90%;
    width: 100%;
    border: black 1px solid;
}
#btn{
    height: 100%;
}
